{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1>Hello, welcome to the chat!</h1>
  <br>
  <br>
  <p>Total num messages in our chat: {{ num_messages }}</p>
  <p>Your num visits: {{ num_visits }}</p>
  <p>Last visit time: {{ last_visit }}</p>
  <br>
  <a class="btn btn-success" href={% url "message-list" %}>CHAT</a>
  <br>
  <button onclick="load_messages()" class="js-button btn btn-warning" data-url="{% url 'json-message-list' %}">
    Load messages
  </button>
  <span><<<---Sample how to use js</span>
  <ul class="js-message-list list-group"></ul>
  
  <script src="{% static 'js/home_script.js' %}" defer="defer"></script>
{% endblock %}
