{% extends "base.html" %}

{% block sidebar %}
  {% if page_obj.number == 1 %}
    {% include "includes/sidebar.html" %}
  {% endif %}
{% endblock %}

{% block content %}
<ul class="list-group" id="messages">
  {% for message in page_obj %}
    <li class="list-group-item">{{ message.message }}</li>
  {% endfor %}
</ul>
{% if page_obj.has_next %}
  <div
    hx-get="{% url 'message-list' %}?page={{ page_obj.next_page_number }}"
    hx-trigger="intersect once"
    hx-swap="beforeend"
    hx-target="#messages"
  ></div>
{% endif %}
{% endblock %}
