{% extends "base.html" %}


{% block content %}
  <ul class="list-group message-list" id="messages" hx-get="{% url 'partial-message-list' %}" hx-trigger="load">
  </ul>

  <form
      hx-post="{% url 'message-create' %}"
      hx-target=".message-list"
      hx-swap="beforeend"
      hx-on::after-request="this.reset()">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="user" value="{{ request.user.pk }}">
    <input type="submit" value="Create message" class="btn btn-primary">
  </form>
{% endblock %}
